:root {
  color-scheme: light;
}

header>nav {
  display: flex;
  justify-content: center;
  gap: 4em;
  align-items: center;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4rem;
  font-size: 0.6rem;
  background: dimgray;
  color: ivory;
  border: none;
}